.Sidebar {
	flex-basis: 20%;
	width: 100%;
	border: 1px solid black;
}

.Sidebar__folder-item {
	text-align: center;
	border: 1px solid black;
	padding: 20px;
	cursor: pointer;
}

.Sidebar__folder-list {
	list-style: none;
	padding-left: 0;
}

.Sidebar__folder-title {
	padding: 0px;
	font-weight: normal;
	font-size: 18px;
}

.active > li {
	background-color: lightgray;
}
