.App {
  text-align: center;
  font-family: Arial;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.content {
  display: flex;
  max-width: 1500px;
  margin: 0 auto;
  border-top: 1px solid black;
}

a {
  text-decoration: none;
  color: black;
}
